* {
    margin: 0;
    padding: 0;
}

html body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}

:root {
    --primcolor: rgb(198, 211, 82);
    --seccolor: rgb(238, 69, 100);
    --thirdcolor: rgb(83, 235, 106);
}

nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 3vw
}

nav img {
    margin-left: 100px;
}

.body1 {
    width: 100%;
    height: 50vh;
    /* background-color: #6ed780; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;
    padding: 0;
}

.b1 {
    width: 28vw;
    height: 30vh;
    /* background-color: #d76d43; */
}

.b1 img {
    transform-origin: 60% -10%;
    position: absolute;
    transform: rotate(35deg);
}

.b2 {
    width: 40vw;
    height: 50vh;
    /* background-color: var(--primcolor); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b2 h1 {
    padding: 0px 0px 30px 50px;
    font-size: 3.3vw;
}

.b2 h5 {
    font-size: 1.7vw;
    font-weight: 300;
}

.b3 img {
    transform-origin: 180% -270%;
    position: absolute;
    transform: rotate(-45deg);
}

.b3 {
    width: 30vw;
    height: 30vh;
    /* background-color: var(--seccolor); */

}

.createmy {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1 {
    width: 17vw;
    height: 9vh;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    box-shadow: 7px 7px 10px grey;
}

.text1 h3 {
    color: white;
}

.body2 {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.b11 {
    width: 28vw;
    height: 30vh;
}

.b11 img {
    transform-origin: 60% -10%;
    position: absolute;
    transform: rotate(35deg);
}

.b12 {
    width: 40vw;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.b12 h5 {
    font-size: 1.2vw;
    font-weight: 500;
}

.b13 img {
    transform-origin: 149% -221%;
    position: absolute;
    transform: rotate(-45deg);
}

.b13 {
    width: 30vw;
    height: 30vh;
}

.b111 {
    display: flex;
    align-items: center;
}

.b112 {
    display: flex;
    align-items: center;
}

.b113 {
    display: flex;
    align-items: center;
}

.b12 img {
    width: 30px;
}

.howitworks {
    width: 100vw;
    height: 20vh;
}

.top {
    width: 100vw;
    height: 20vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
    font-size: 3vw;
}

.top h1:hover {
    text-shadow: 3px 3px 5px grey;
}

::selection {
    color: aquamarine;
}

.body3 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    cursor: pointer;

}
@media screen and (max-width:300px){
    .body3{
      
        flex-direction: column;
    }
    
}

.b3-1 {
    width: 20vw;
    height: 50vh;
}

.b3-1 h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin-top: 1.4vw;
}
.b3-2 {
    width: 18vw;
    height: 50vh;
}
.b3-2 h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin-top: 1.4vw;
}

.b3-3 {
    width: 18vw;
    height: 50vh;

}
.b3-3 h4{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    margin-top: 1.4vw;
}
.getyourown{
    width: 100%;
    height: 50vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
}
.g1{
    width: 50vw;
    height: 20vh;
    margin-top: 4vw ;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.g1 h3{
    font-size: 2.5vw;
}
